@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background: #FAFAFA;
    padding: 20px;
    position: relative;
}

/* Navbar */
.navbar {
    position: relative;
    margin-bottom: 50px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-btn {
    display: none;
}

/* Navlinks */
.navlinks-wrapper {
    width: 400px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.navlinks li.navbar-btn {
    padding: 20px 50px;
    background: #00BF69;
    border-radius: 10px;
}

.navlinks li.navbar-btn a {
    color: #ffffff;
}

.navbar-btn:hover {
    box-shadow: 0px 3px 5px 2px #40404131;
}

/* Header */
.header {
    padding-top: 50px;
    width: 100%;
}

.header-main-grid {
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr;
}

.header-main-grid .grid-item-1 {
    align-self: center;
    grid-column: 1/2;
    grid-row: span 2;
}

.header-main-grid .grid-item-2 {
    grid-column: span 1;
    grid-row: span 5;
}

.hero-text {
    margin-bottom: 20px;
}

.hero-text h1 {
    color: #222222;
}

.subtext {
    width: 82%
}

.subtext p {
    line-height: 26px;
    color: #4F4F4F;
}

.header .download-btn-wrapper {
    padding: 20px 0;
    width: 88%;
    justify-content: space-between;
}

.header .download-btn {
    background: #222222;
}

.hero-stats {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 10px;
    width: 86%;
    display: flex;
}

.stats-numbers h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #222222;
}

.stats-numbers p {
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

hr {
    margin: 0 30px;
    width: 5px;
    background-color: #999999;
}

.stats-details p {
    font-size: 14px;
    line-height: 26px;
    color: #4F4F4F;
}


/* Audiences */
.audiences-main-grid {
    margin-bottom: 150px;
    display: grid;
    column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
}

.audiences-main-grid .grid-item-1 {
    grid-column: span 1;
    grid-row: span 5;
}

.audiences-main-grid .grid-item-2 {
    margin-top: 20px;
    width: 75%;
    grid-row: span 2;
}

.audiences-main-grid .grid-item-3 {
    width: 88%;
}

.audiences-main-grid .grid-item-4 {
    width: 90%;
    margin-bottom: 70px;
}

/* .audiences .section-headertext-wrapper {
    width: 75%;
} */

/* Influencers */
.influencers-main-grid {
    margin-bottom: 150px;
    display: grid;
    column-gap: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
}

.influencers-main-grid .grid-item-1 {
    width: 85%;
    margin-top: 60px;
}

.influencers-main-grid .grid-item-2 {
    grid-row: span 3;
}

.influencers-main-grid .grid-item-3 {
    width: 85%;
}

.influencers-main-grid .grid-item-4 {
    width: 90%;
    margin-bottom: 60px;
}


/* Download Page */
.download-page-wrapper {
    margin-bottom: 150px;
    padding: 60px 0;
    background: #222222;
    border-radius: 10px;
}

.download-page-content-wrapper {
    margin: auto;
    width: 60%;
}

.download-page .section-text-wrapper {
    padding: 20px 50px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.download-page .large-text {
    color: #ffffff;
}


.download-page .download-btn {
    background: #00BF69;
}

.download-page .download-btn-wrapper {
    padding: 20px 65px;
    justify-content: space-around;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #999999;
}

.contact-div {
    margin-right: 80px;
    width: 300px;
}

.contact-text-wrapper {
    padding: 10px 0;
}

.social-media-btn-wrapper {
    padding: 20px 0;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.social-media-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #EEEEEE;
}

.social-media-btn:hover {
    box-shadow: 0px 3px 5px 2px #40404131;
}

.social-media-btn svg {
    margin: auto;
    width: 22px;
    height: 22px;
    color: #000000;
}

.footer-navlinks {
    padding: 15px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links-wrapper p {
    margin-bottom: 10px;
}

.links li {
    padding: 5px 0;
}

.links li a {
    color: #4F4F4F;
}




